/* CSS declarations go here */
.modal-dialog {
    z-index: 1050;
}

#login-dropdown-list .dropdown-menu {
    float: left !important;
}

#login-dropdown-list .dropdown-menu .or {
    visibility: hidden;
}

.margin-none {
    margin: 0 !important;
}

.interactive:hover {
    cursor: pointer;
}