/* CSS declarations go here */
.modal-dialog {
    z-index: 1050;
}

#login-dropdown-list .dropdown-menu {
    float: left !important;
}

#login-dropdown-list .dropdown-menu .or {
    visibility: hidden;
}

.margin-none {
    margin: 0 !important;
}

.margin-top-none {
    margin-top: 0 !important;
}

.interactive:hover {
    cursor: pointer;
}

.margin-bottom {
    margin-bottom: 10px;
}

.navbar-brand {
    color: #ffd000 !important;
}

.navbar-brand .fa-stack {
    position: relative;
    top: -14px;
    background: #ffd000;
    margin-right: 10px;
}

.navbar-brand .fa-plane {
    position: relative;
    top: 3px;
    left: -1px;
    color: #222222 !important;
}

a.unstyled {
    color: #000 !important;
    text-decoration: none;
}

.badge {
    border-radius: 20px;
}

.badge-lg {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

#complaintTypes .fa {
    margin-right: 10px;
}
